<div class="table__header">
  <mat-form-field>
    <mat-select placeholder="duration" (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let duration of durations" [value]="duration">
        {{duration.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Day Average: <span>{{averageMeasurement$ | async}}</span></p>
  <p>Last Measurement: <span>{{lastMeasurement$ | async}}</span></p>
</div>
<div class="table__body">
  <table mat-table [dataSource]="measurements$ | async">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date</th>
      <td mat-cell *matCellDef="let measurement"> {{measurement.measurementTime | date: 'd/MM/yy, H:mm'}}</td>
    </ng-container>
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef> Temperature</th>
      <td mat-cell *matCellDef="let measurement"> {{measurement.temperature}}</td>
    </ng-container>
    <ng-container matColumnDef="pressure">
      <th mat-header-cell *matHeaderCellDef> Pressure</th>
      <td mat-cell *matCellDef="let measurement"> {{measurement.pressure}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
