
* {
  box-sizing: border-box;
  line-height: 19px;
  font-size: 14px;
}

html {
  display: block;
  height: 100%;
}

body {
  display: block;
  min-height: 100%;
  margin: 0;
  height: 100%;
}

p {
  margin: 0;
}

table {
  width: 100%;
}

.average-current-wrapper {
  display: flex;
  flex-direction: column;
}

.mat-tab-label-content {
  @extend .mat-h2;
  @extend .mat-title;
}

th.mat-header-cell {
  @extend .mat-h2;
  @extend .mat-title;
}

.mat-option-text {
  @extend .mat-h2;
  @extend .mat-title;
}

