
* {
  box-sizing: border-box;
  line-height: 19px;
  font-size: 14px;
}

html {
  display: block;
  height: 100%;
}

body {
  display: block;
  min-height: 100%;
  margin: 0;
  height: 100%;
}

p {
  margin: 0;
}
