<div class="graph__header">
  <mat-form-field>
    <mat-select placeholder="Duration" (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let duration of durations" [value]="duration">
        {{duration.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Day Average: <span>{{averageMeasurement$ | async}}</span></p>
  <p>Last Measurement: <span>{{lastMeasurement$ | async}}</span></p>
</div>
<div class="graph__body">
  <div id="chartdiv" style="width: 100%; height: 500px"></div>
</div>
